/* Variables */

:root {
    --basic-grey: #888888;
    --basic-night-rider: #333333;
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-seagull: #81b3d2;
    --basic-light-gray: #eeeeee;
    --basic-dark-gray: #a9a9a9;
    --basic-white-smoke: #f2f2f2;
    --basic-roman-coffee: #766357;
    --basic-whisper: #e5e5e5;
    --basic-dim-gray: #666666;
    --basic-shakespeare: #669ec0;
    --basic-dark-shakespeare: #5496bd;
    --basic-saddle: #604e43;
    --basic-paco: #503e33;
    --basic-black-30: rgba(0, 0, 0, 0.3);
    --basic-black-10: rgba(0, 1, 1, 0.2);
    --basic-white-90: rgba(255, 255, 255, 0.9);
    --basic-white-30: rgba(255, 255, 255, 0.3);
    --basic-hex-gray: #ababab;
    --very-light-grey: #cfcfcf;
    --basic-color-maverick: #bdbbbc;
    --box-shadow-color: rgba(171, 171, 171, 0.3);
}

/* Global */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white-smoke);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Grid */

.main-header,
.footer,
.main {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 5px 15px var(--basic-black-10);
    background-color: var(--basic-white);
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Main navigation */

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 2px;
}

.main-navigation-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: var(--basic-white);
}

.site-navigation {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.site-navigation li {
    width: 20%;
}

.site-navigation li:first-child {
    padding-left: 72px;
}

.site-navigation li:nth-child(2) {
    text-align: left;
    margin-right: auto;
    padding-left: 60px;
}

.site-navigation li:nth-child(3) {
    text-align: right;
    padding-right: 59px;
}

.site-navigation li:last-child {
    text-align: right;
    padding-right: 72px;
}

/* Logo */

.main-header-logo {
    width: 138px;
    height: 70px;
    position: absolute;
    z-index: 1;
    text-align: center;
}

/* User navigation */

.site-navigation .link {
    font-weight: bold;
    color: var(--basic-black);
}

.background-images {
    width: 100%;
    height: 509px;
    background-image: url(../img/background.jpg);
    background-color: var(--basic-seagull);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.background-images::after {
    content: "";
    width: 100%;
    height: 57px;
    background-image: url(../img/shap.png);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.welcome {
    margin-top: -3px;
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    min-height: 216px;
    padding-top: 41px;
    padding-left: 250px;
    padding-right: 250px;
}

.advantages p {
    font-weight: bold;
    font-size: 21px;
    margin-top: 1px;
}

.advantages span {
    margin-top: 22px;
    position: relative;
    left: -3px;
}

.evil-bridge h3,
.evil-bridge span {
    position: relative;
    top: 4px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    list-style: none;
}

.advantages-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages-description {
    width: 400px;
    padding: 47px 45px 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.advantages-row {
    display: grid;
}

.accented-advantage:nth-child(1) .advantages-row {
    grid-template-columns: 1fr 2fr;
}

.accented-advantage:nth-child(2) .advantages-row {
    grid-template-columns: 2fr 1fr;
}

.base-advantage h3 {
    margin: 0;
}

.advantages-description h3 {
    margin-top: -2px;
}

.advantage-number {
    margin: 7px 0 24px 0;
}

.recommendations span {
    color: var(--basic-night-rider);
}

.recommendations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--basic-white);
    color: var(--basic-black);
    list-style: none;
    padding: 0;
}

.recommendations-item {
    display: block;
    text-align: center;
}

.recommendations-item:first-child {
    padding-top: 137px;
    padding-right: 73px;
    padding-bottom: 76px;
    padding-left: 73px;
}

.recommendations-item:nth-child(2) {
    padding-top: 138px;
    padding-right: 52px;
    padding-bottom: 76px;
    padding-left: 51px;
}

.recommendations-item:last-child {
    padding-top: 137px;
    padding-right: 64px;
    padding-bottom: 75px;
    padding-left: 65px;
}

.point-img {
    margin-right: auto;
    margin-left: auto;
}

.house,
.burger,
.souvenir {
    position: relative;
}

.house::before {
    content: "";
    width: 75px;
    height: 72px;
    position: absolute;
    background-image: url("../img/house.svg");
    top: -100px;
    right: 90px;
}

.burger::before {
    content: "";
    width: 75px;
    height: 70px;
    position: absolute;
    background-image: url("../img/burger.svg");
    top: -100px;
    right: 110px;
}

.souvenir::before {
    content: "";
    width: 64px;
    height: 77px;
    position: absolute;
    background-image: url("../img/souvenir.svg");
    top: -102px;
    right: 106px;
}

.base-advantage {
    width: 400px;
    padding: 0 75px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 47px;
    padding-bottom: 54px;
    background-color: var(--basic-light-gray);
}

.base-advantage h3 {
    padding: 0 45px;
}

.nice-road {
    padding: 0 65px;
}

.nice-road :first-child {
    padding: 0 50px;
    position: relative;
    bottom: 5px;
}

.nice-road :nth-child(2),
.nice-road :last-child {
    position: relative;
    bottom: 5px;
}

.base-advantage :nth-child(2) {
    padding-top: 20px;
}

.advantages-list h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.advantages-list span {
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
}

.accented-advantage {
    color: var(--basic-white);
    background-color: var(--basic-seagull);
}

.hotel-search {
    padding-top: 56px;
    text-align: center;
}

.hotel-search-link {
    padding: 31px 138px;
    vertical-align: middle;
    color: var(--basic-white);
    background-color: var(--basic-roman-coffee);
    font-size: 21px;
    line-height: 86px;
    font-weight: bold;
}

.hotel-search span {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}

.choose-date {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    line-height: 24px;
    margin: 25px auto 45px;
    padding-left: 250px;
    padding-right: 250px;
}

/* map */

.map {
    width: 100%;
    background-image: url(../img/map.jpg);
    width: 1200px;
    height: 594px;
    background-color: var(--basic-grey);
}

.map iframe {
    border: none;
}

/* main footer */

.footer {
    margin-top: 0;
    background-color: var(--basic-white-90);
    position: relative;
}

.main-footer {
    margin: 0;
    width: 225px;
}

.social {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    top: 11px;
    width: 400px;
    margin: 0 auto;
    padding: 10px 0 0 0;
    list-style: none;
}

.website-by {
    display: flex;
    align-items: center;
    position: relative;
    top: 11px;
    width: 400px;
    margin: 0;
    text-align: center;
    line-height: 26px;
    padding-left: 65px;
    padding-top: 10px;
}

.developers:hover .svg-htmlacademy {    
    fill: var(--basic-seagull);
}

.developers:active .svg-htmlacademy {
    fill: var(--basic-color-maverick);
} 

.developers {
    padding-left: 8px;
}

.hashtag {
    padding-top: 10px;
    padding-left: 22px;
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.phone-number {
    position: relative;
    top: 1px;
    left: 2px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.social a {
    background-color: var(--basic-seagull);
}

/* Modal */

.appointment {
    position: absolute;
    z-index: 1;
    left: calc(50% - 568px / 2);
    padding: 40px 55px 55px;
    display: flex;
    flex-wrap: wrap;
    width: 568px;
    background-color: var(--basic-white);
    animation: expandDown 0.5s;
    transform-origin: top center;
}

.modal {
    position: relative;
}

.modal-hide {
    display: none;
}

.appointment input {
    font-weight: bold;
    line-height: 26px;
    background-color: var(--basic-white-smoke);
}

.appointment label {
    font-weight: bold;
    line-height: 26px;
    background-color: var(--basic-white);
}

.appointment p {
    display: flex;
    justify-content: space-between;
}

.numbers1,
.numbers2 {
    margin-top: 16px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.numbers1 {
    position: relative;
}

.numbers2 {
    position: relative;
    left: 40px;
}

.arrival {
    padding-left: 13px;
    width: 346px;
    height: 38px;
    border: none;
    text-transform: uppercase;
}

.date label {
    display: flex;
    width: 112px;
}

.departure {
    padding-left: 13px;
    width: 346px;
    height: 38px;
    border: none;
    text-transform: uppercase;
}

.date {
    position: relative;
    display: flex;
    align-items: center;
}

.calendar {
    border: none;
    background: none;
    position: absolute;
    right: 2px;
}

.calendar:hover .svg-calendar {
    fill: var(--basic-black);
    cursor: pointer;
}

.calendar:active .svg-calendar {
    fill: var(--basic-seagull);
    cursor: pointer;
}

.adults {
    text-align: center;
    margin-left: 40px;
    margin-right: 15px;
    width: 114px;
    height: 38px;
    border: none;
}

.childs {
    text-align: center;
    margin-left: 25px;
    margin-right: 0;
    width: 114px;
    height: 38px;
    border: none;
}

.look-for-button {
    width: 458px;
    height: 58px;
    margin-top: 43px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-seagull);
    border: none;
}

.numbers1 {
    position: relative;
}

.button-minus1 {
    border: none;
    background: none;
    position: absolute;
    left: 118px;
    top: 8px;
}

.button-plus1 {
    border: none;
    background: none;
    position: absolute;
    right: 22px;
    top: 12px;
}

.button-minus1:hover .svg-minus,
.button-plus1:hover .svg-plus,
.button-minus2:hover .svg-minus,
.button-plus2:hover .svg-plus {
    fill: var(--basic-black);
    cursor: pointer;
}

.button-minus1:active .svg-minus,
.button-plus1:active .svg-plus,
.button-minus2:active .svg-minus,
.button-plus2:active .svg-plus {
    fill: var(--basic-seagull);
    cursor: pointer;
}

.numbers2 {
    position: relative;
}

.button-minus2 {
    border: none;
    background: none;
    position: absolute;
    left: 72px;
    top: 8px;
}

.button-plus2 {
    border: none;
    background: none;
    position: absolute;
    right: 5px;
    top: 11px;
}

/* Filters */

.hotels-filter {
    background-image: url(../img/background2.png);
    background-size: cover;
    background-color: var(--basic-paco);
    color: var(--basic-white);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    background-repeat: no-repeat;
}

.filter-form {
    width: 100%;
    padding-top: 26px;
    padding-bottom: 31px;
    padding-right: 73px;
    display: grid;
    grid-template-columns: 327px auto 400px;
    min-height: 217px;
}

.hotels-filter fieldset {
    border: none;
}

.hotels-filter legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.hotels-filter button {
    color: var(--basic-white);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.infrastructure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 71px;
    margin-right: 0;
    width: 150px;
    padding: 0;
}

.check {
    margin-top: 22px;
}

.infrastructure div:nth-child(2) {
    margin-top: 24px;
}

.infrastructure div:nth-child(3) {
    margin-top: 25px;
}

.infrastructure div:last-child {
    margin-top: 24px;
}

.hotel-type {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0;
    width: 150px;
    padding: 0;
}

.hotel-type div:nth-child(2) {
    margin-top: 24px;
}

.hotel-type div:nth-child(3) {
    margin-top: 25px;
}

.hotel-type div:last-child {
    margin-top: 24px;
}

.filter-item {
    position: relative;
    right: -73px;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 317px;
    border-color: var(--basic-white);
    color: var(--basic-white);
    background-color: transparent;
    text-align: center;
}

.filter-item legend {
    text-align: left;
}

.filter-item button {
    margin-right: 5px;
}

.price-controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 36px;
    margin-top: 10px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
}

.price-controls input {
    text-align: center;
    background-color: transparent;
    color: var(--basic-white);
    text-transform: uppercase;
    width: 157px;
    border: none;
}

.price-controls ::placeholder {
    color: var(--basic-white);
}

.price-controls :first-child {
    border-right: hidden;
}

.price-controls:after {
    content: url("../img/vertical-line.svg");
    position: absolute;
    width: 2px;
    height: 22px;
    top: 5px;
    right: 158px;
}

.price-controls :nth-child(3) {
    border-left: hidden;
}

.range-controls {
    position: relative;
    height: 33px;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
}

.range-controls .scale {
    height: 2px;
}

.scale {
    width: 100%;
    margin-left: 0%;
}

.scale::after {
    content: "";
    height: 2px;
    width: 248px;
    background-image: url(../img/rectangle.svg);
    position: absolute;
    top: 20px;
    right: 65px;
}

.range-controls .bar {
    position: relative;
    height: 2px;
    background: var(--basic-white-30);
}

.range-controls .toggle-min {
    left: -1px;
    top: 12px;
}

.range-controls .toggle-max {
    left: 252px;
    top: 12px;
}

.toggle {
    position: absolute;
    top: 31px;
    left: 0;
    display: block;
    width: 3px;
    height: 3px;
    margin: 0;
    box-sizing: content-box;
    border-radius: 50%;
    background-color: var(--basic-hex-gray);
    border: 8px solid var(--basic-white);
    box-shadow: 0 2px 0 0 var(--box-shadow-color);
}

.toggle-min:hover {
    position: relative;
    top: -11px;
    left: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 9px solid var(--basic-white);
    cursor: pointer;
}

.toggle-max:hover {
    position: relative;
    top: -11px;
    left: 251px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 9px solid var(--basic-white);
    cursor: pointer;
}

.btn {
    position: relative;
    left: 84px;
    top: 24px;
    height: 36px;
    width: 137px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    border-radius: 2px;
}

.btn:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.check label {
    position: relative;
    left: 40px;
    display: block;
    cursor: pointer;
    user-select: none;
}

.check-input-checkbox:hover+label,
.check-input-checkbox:focus+label {
    color: var(--basic-seagull);
}

.check-input-checkbox+label::before {
    content: "";
    position: absolute;
    left: -40px;
    width: 23px;
    height: 23px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23"%3E%3Cpath fill="%23FFFFFF" d="M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z"/%3E%3C/svg%3E');
}

.check-input-checkbox:checked+label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: -36px;
    width: 23px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.28505 6.48601L0.456055 9.31501L8.23905 17.098L22.1711 3.16601L19.3431 0.337006L8.23905 11.439L3.28505 6.48601Z' fill='white'/%3E%3C/svg%3E");
}

.check-input-checkbox:disabled+label::before {
    content: "";
    position: absolute;
    left: -40px;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%236A6A6A'/%3E%3C/svg%3E%0A");
}

.check-input-checkbox:checked:disabled+label::after {
    content: "";
    position: absolute;
    top: 1px;
    left: -36px;
    width: 23px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.28499 6.48601L0.455994 9.31501L8.23899 17.098L22.171 3.16601L19.343 0.337006L8.23899 11.439L3.28499 6.48601Z' fill='%236A6A6A'/%3E%3C/svg%3E");
}

/* сортировка */

.sort-by {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 69px;
    display: grid;
    grid-template-columns: 208px auto 200px;
    background-color: var(--basic-white);
    color: var(--basic-black);
    list-style: none;
}

.sort-by span {
    display: inline-block;
    vertical-align: top;
    margin-left: 72px;
    margin-top: -1px;
    width: 135px;
    padding-right: 0;
    margin-right: 0;
}

.sort-attribute {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 1px;
    margin-bottom: 0;
    margin-left: 27px;
    padding: 0;
}

.sort-direction {
    position: relative;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4px;
}

.btn-down {
    position: absolute;
    background-color: var(--basic-white);
    border: none;
    cursor: pointer;
    top: 7px;
    right: -1px;
}

.btn-up {
    position: relative;
    background-color: var(--basic-white);
    border: none;
    cursor: pointer;
    left: 153px;
}

.sort-by p {
    padding-left: 0;
}

.price {
    padding-left: 40px;
}

.type {
    margin-left: 32px;
}

.rate {
    margin-left: 33px;
}

.btn-sort,
.sort-attribute {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    border: none;
    background-color: var(--basic-white);
    cursor: pointer;
}

.sort-by span {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.price {
    color: var(--basic-seagull);
}

.type,
.rate {
    color: var(--basic-black-30);
    border-bottom: 1px dotted;
    border-color: var(--basic-seagull);
}

.price:hover,
.rate:hover,
.type:hover {
    color: var(--basic-seagull);
}

.price:active,
.rate:active,
.type:active {
    color: var(--basic-black);
    border-bottom: none;
}

/* catalog */

.hotels-list-item {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 73px;
    display: grid;
    grid-template-columns: 208px auto 200px;
    background-color: var(--basic-white);
    color: var(--basic-black);
    list-style: none;
}

.hotel-image {
    display: flex;
    width: 135px;
    height: 90px;
    margin-left: 73px;
    margin-right: 0;
    background-color: var(--basic-roman-coffee);
}

.hotel-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
    margin-left: 28px;
    width: auto;
    min-height: 90px;
}

.hotels-list .link {
    display: block;
    margin: 0;
    align-items: flex-start;
}

.hotels-name {
    margin: 0;
    position: relative;
    bottom: 5px;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

.type-cost {
    margin-top: 5px;
    margin-bottom: 10px;
}

.element1 {
    margin-right: 34px;
    margin-top: 7px;
    margin-bottom: 10px;
}

.element2 {
    margin-top: 7px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.type-cost:last-child {
    padding-right: 0;
}

.hotels-list-item:nth-child(2) .element1 {
    margin-right: 60px;
}

.hotels-list-item:last-child .element1 {
    margin-right: 17px;
}

.details {
    display: inline-block;
    vertical-align: inherit;
    margin-right: 3px;
    margin-left: 1px;
    position: relative;
    top: 2px;
    right: 2px;
    padding: 3px 17px 4px 17px;
    font-weight: bold;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-seagull);
    max-width: 200px;
}

.reserved {
    display: inline-block;
    vertical-align: inherit;
    position: relative;
    top: 2px;
    right: 2px;
    padding: 3px 16px;
    font-weight: bold;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-roman-coffee);
    max-width: 200px;
}

.first-rating::before {
    position: absolute;
    content: "";
    width: 91px;
    height: 17px;
    background-image: url("../img/4-stars.svg");
    background-repeat: no-repeat;
    top: -63px;
    right: -2px;
}

.second-rating::before {
    position: absolute;
    content: "";
    width: 91px;
    height: 17px;
    background-image: url("../img/3-stars.svg");
    background-repeat: no-repeat;
    top: -63px;
    right: -25px;
}

.third-rating::before {
    position: absolute;
    content: "";
    width: 91px;
    height: 17px;
    background-image: url("../img/2-stars.svg");
    background-repeat: no-repeat;
    top: -63px;
    right: -50px;
}

.hotel-rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 90px;
    width: 110px;
}

.rating {
    position: relative;
    display: flex;
    align-self: flex-end;
    padding: 3px 12px 3px 15px;
}

.hotels-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.hotels-list-item {
    margin-bottom: -1px;
    border-top: 1px solid var(--basic-whisper);
    border-bottom: 1px solid var(--basic-whisper);
}

.hotels-list .link {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.hotels-list span {
    font-weight: 400;
    line-height: 21px;
    color: var(--basic-black);
}

.rating {
    font-weight: 400;
    line-height: 21px;
    color: var(--basic-dim-gray);
    background-color: var(--basic-white-smoke);
    width: 110px;
    height: 27px;
}

.social-network-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    color: inherit;
    background-color: var(--basic-seagull);
    margin: 3px;
}

/*active-hover */

.details:hover,
.look-for-button:hover,
.social-network-link:hover {
    background-color: var(--basic-shakespeare);
}

.details:active,
.look-for-button:active,
.social-network-link:active {
    background-color: var(--basic-dark-shakespeare);
    color: var(--basic-white-30);
}

.social-network-link:active .svg-fb,
.social-network-link:active .svg-twitter,
.social-network-link:active .svg-youtube {
    fill: var(--basic-white-30);
}

.reserved:hover,
.hotel-search-link:hover {
    background-color: var(--basic-saddle);
}

.reserved:active,
.hotel-search-link:active {
    background-color: var(--basic-paco);
    color: var(--basic-white-30);
}

.site-navigation .link:hover,
.hotels-list .link:hover {
    color: var(--basic-seagull);
}

.site-navigation .link:focus,
.hotels-list .link:focus {
    color: var(--basic-roman-coffee);
}

.site-navigation .link:active,
.hotels-list .link:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.active-link {
    color: var(--basic-roman-coffee);
    font-weight: bold;
    outline: none;
    cursor: default;
}

.arrival:hover,
.departure:hover,
.adults:hover,
.childs:hover {
    background-color: var(--basic-whisper);
}

.arrival:focus,
.departure:focus {
    background-color: var(--basic-white);
    border: 2px solid var(--basic-whisper);
    padding-left: 11px;
}

.adults:focus,
.childs:focus {
    background-color: var(--basic-white);
    border: 2px solid var(--basic-whisper);
    padding-left: 1px;
}

.arrival::-webkit-input-placeholder {
    color: var(--basic-black); 
    opacity:1;
}

.arrival::-moz-placeholder {
    color: var(--basic-black); 
    opacity:1;
}

.arrival:-moz-placeholder {
    color: var(--basic-black); 
    opacity:1;
}

.arrival:-ms-input-placeholder {
    color: var(--basic-black); 
    opacity:1;
}  

.departure::-webkit-input-placeholder {
    color: var(--basic-black); 
    opacity:1;
}

.departure::-moz-placeholder {
    color: var(--basic-black); 
    opacity:1;
}

.departure:-moz-placeholder {
    color: var(--basic-black); 
    opacity:1;
}

.departure:-ms-input-placeholder {
    color: var(--basic-black); 
    opacity:1;
} 

.childs::-webkit-input-placeholder {
    color: var(--basic-black); 
    opacity:1;
}

.childs::-moz-placeholder {
    color: var(--basic-black); 
    opacity:1;
}

.childs:-moz-placeholder {
    color: var(--basic-black); 
    opacity:1;
}

.childs:-ms-input-placeholder {
    color: var(--basic-black); 
    opacity:1;
} 

.adults::-webkit-input-placeholder {
    color: var(--basic-black); 
    opacity:1;
}

.adults::-moz-placeholder {
    color: var(--basic-black); 
    opacity:1;
}

.adults:-moz-placeholder {
    color: var(--basic-black); 
    opacity:1;
}

.adults:-ms-input-placeholder {
    color: var(--basic-black); 
    opacity:1;
} 

.svg-up {
    fill: var(--basic-seagull);
}

.btn-down:hover .svg-down,
.btn-up:hover .svg-up {
    fill: var(--basic-black);
}

.btn-down:active .svg-down,
.btn-up:active .svg-up {
    fill: var(--basic-seagull);
}

.main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 0 42px;
    width: 100%;
    background-color: var(--basic-white-90);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.main-footer.without-map {
    position: relative;
    background-color: var(--basic-white);
}

.contacts {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2px;
    text-align: center;
    padding-left: 50px;
}

/* Chrome, Safari, Edge, Opera */

.adults::-webkit-outer-spin-button,
.adults::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.childs::-webkit-outer-spin-button,
.childs::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.max-price::-webkit-outer-spin-button,
.max-price::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.min-price::-webkit-outer-spin-button,
.min-price::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.min-price::-webkit-input-placeholder {
    color: var(--basic-white); 
    opacity:1;
}

.min-price::-moz-placeholder {
    color: var(--basic-white); 
    opacity:1;
}

.min-price:-moz-placeholder {
    color: var(--basic-white); 
    opacity:1;
}

.min-price:-ms-input-placeholder {
    color: var(--basic-white); 
    opacity:1;
}  

.max-price::-webkit-input-placeholder {
    color: var(--basic-white); 
    opacity:1;
}

.max-price::-moz-placeholder {
    color: var(--basic-white); 
    opacity:1;
}

.max-price:-moz-placeholder {
    color: var(--basic-white); 
    opacity:1;
}

.max-price:-ms-input-placeholder {
    color: var(--basic-white); 
    opacity:1;
} 

/* Firefox */

.childs[type="number"] {
    -moz-appearance: textfield;
}

.adults[type="number"] {
    -moz-appearance: textfield;
}

.min-price[type="number"] {
    -moz-appearance: textfield;
}

.max-price[type="number"] {
    -moz-appearance: textfield;
}

/* animations */

@keyframes expandDown {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.modal-error {
    animation: shake 0.6s;
}

@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }  
