/* Variables */

:root {
  --basic-grey:#888888;
  --basic-night-rider:#333333;
  --basic-black:#000000;
  --basic-white:#FFFFFF;
  --basic-seagull:#81B3D2;
  --basic-light-gray:#EEEEEE;
  --basic-dark-gray:#A9A9A9;
  --basic-white-smoke:#F2F2F2;
  --basic-roman-coffee:#766357;
  --basic-whisper:#E5E5E5;
  --basic-dim-gray:#666666;
  --basic-shakespeare:#669EC0;
  --basic-dark-shakespeare:#5496BD;
  --basic-saddle:#604E43;
  --basic-paco:#503E33;
  --basic-whisper: #EBEBEB;
  --basic-basic-black-30: rgba(0, 0, 0, 0.3);
  --basic-white-90: rgba(255, 255, 255, 0.9);
}

/* Global */

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}
  
a {
  text-decoration: none;
}
  
img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

.main-header {
  margin-bottom: 70px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation-wrapper {
  width: 100%;
  background-color: var(--basic-white);
  padding: 0;
  margin: 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 1050px;
  justify-content: space-between;
}

/* Logo */

.main-header-logo {
  width: 138px;
  height: 70px;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
}

/* User navigation */

.site-navigation .link {
  font-weight: bold;
  color: var(--basic-black);
}

.background-images {
  width: 100%;
  height: 509px;
  background-image: url(../img/shape.png);
  background-image: url(../img/background.jpg);
  background-size:  100%;
  background-position: top;
  padding-top: 77px;
  background-repeat: no-repeat;
}

.advantages {
  text-align: center;
}

.advantages p {
  font-weight: bold;
  font-size: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hotels-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0;
  margin: 0;
}

.hotels-list-item {
  margin-bottom: -1px;
  border-top: 1px solid var(--basic-whisper);
  border-bottom: 1px solid var(--basic-whisper);
}

.hotels-list-item .container{
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hotel-photo{
  flex-basis: 135px;
  margin-right: 30px;
  height: 90px;
}

.hotel-info {
  flex-basis: auto;
  flex-grow: 1;
}

.hotel-rating{
  flex-basis: 110px;
}

.hotel-search {
  text-align: center;
}

.hotel-search-link {
  color: var(--basic-white);
  background-color: var(--basic-roman-coffee);
  font-size: 21;
  line-height: 26;
  font-weight: bold;
}

.hotel-search span {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.choose-date {
  line-height: 24px;
}

.map img {
  width: 100%;
}

/* main footer */

.main-footer {
  padding: 23px 0;
  margin-top: 0;
  background-color: var(--basic-white-90);
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contacts {
  margin: 0;
  width: 225px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.social {
  width: 155px;
  justify-self: center;
  text-align: center;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.social ul {
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.website-by {
  max-width: 225px;
  margin: 0;
  justify-self: end;
  text-align: center;
  line-height: 26px;
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
}

.hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.phone-number {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.social a {
  background-color: var(--basic-seagull);
}

/* Modal */

.appointment input {
  font-weight: bold;
  line-height: 26px;
  background-color: var(--basic-white-smoke);
}

.appointment label {
  font-weight: bold;
  line-height: 26px;
  background-color: var(--basic-white);
}

.arrival, 
.departure {
  width: 346px;
  height: 38px;
}

.adults, 
.childs {
  width: 114px;
  height: 38px;
}

.look-for-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-seagull);
  border: none;
}

/* catalog */

.hotels-list .link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotels-list span {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-black);
}

.details {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-seagull);
}

.reserved {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-roman-coffee);
}

.rating {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-dim-gray);
  background-color: var(--basic-white-smoke);
  width: 110px;
  height: 27px;
}

article {
  margin: 0;
}

.details:hover,
.look-for-button:hover,
.social-network-link:hover {
  background-color: var(--basic-shakespeare);
}

.details:active,
.look-for-button:active,
.social-network-link:active {
  background-color: var(--basic-dark-shakespeare);
}

.reserved:hover,
.hotel-search-link:hover {
  background-color: var(--basic-saddle);
}

.reserved:active,
.hotel-search-link:active {
  background-color: var(--basic-paco);
}

.site-navigation .link:hover,
.hotels-list .link:hover {
  color: var(--basic-seagull);
}

.site-navigation .link:focus,
.hotels-list .link:focus {
  color: var(--basic-roman-coffee);
}

.site-navigation .link:active,
.hotels-list .link:active {
  color:var(--basic-black-30);
}

.calendar:hover {
  
}

.calendar:active {
  
}

.button-minus:hover,
.button-plus:hover {
 
}

.button-minus:active,
.button-plus:active {
  
}

.developers:hover {

}

.developers:active {

}

.arrival:hover, 
.departure:hover,
.adults:hover, 
.childs:hover {
  background-color: var(--basic-whisper);
}

.arrival:focus, 
.departure:focus,
.adults:focus, 
.childs:focus {
  background-color: var(--basic-white);
}