/* Variables */

:root {
--basic-grey:#888888;
--basic-night-rider:#333333;
--basic-black:#000000;
--basic-white:#FFFFFF;
--basic-seagull:#81B3D2;
--basic-light-gray:#EEEEEE;
--basic-dark-gray:#A9A9A9;
--basic-white-smoke:#F2F2F2;
--basic-roman-coffee:#766357;
--basic-whisper:#E5E5E5;
--basic-dim-gray:#666666;
}

/* Global */

body {
 min-width: 1220px;
 margin: 0;
 padding: 0;
 font-family: PT Sans, Arial, sans-serif;
 font-size: 14px;
 line-height: 26px;
 font-weight: 400;
 color: var(--basic-black);
 text-transform: uppercase;
 background-color: var(--basic-grey);
 background-image: url("img/background.jpg");
 background-position: top center;
 background-repeat: no-repeat;
}

a {
 text-decoration: none;
}
  
img {
 max-width: 100%;
 height: auto;
}

/* Main navigation */

.main-navigation {
 background-color: var(--basic-white);
 background-color: transparent;
}

.site-navigation {
 list-style: none;
}

/* User navigation */

.site-navigation a {
  color: var(--basic-black);
}
/*потом убрать!!!!*/
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--night-rider);
  padding: 3px;
}

.advantages {
background-image: url("img/Rectangle.png");
text-align: center;
}

.advantages p {
 font-weight: bold;
 font-size: 21px;
}

h2 {
 display: none;
}

.hotel-search {
 text-align: center;
}

.hotel-search span {
 font-weight: bold;
 font-size: 30px;
 line-height: 24px;
}

.choose-date {
 font-size: 14px;
 line-height: 24px;
}

.choose-date + p {
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
 background-color: var(--basic-roman-coffee);
 width: 568px;
 height: 86px;
}

/* main footer */

.main-footer {
 background-color: rgba(255, 255, 255, 0.9);
}

.visitsedona {
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
}

.phone-number {
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
 color: var(--basic-black);
}

.social {
 list-style: none;
}

.social a {
 background-color: var(--basic-seagull);
 width: 46px;
 height: 48px;
}

.website-by {
    font-size: 14px;
    line-height: 26px;
}


/* Modal */

.appointment input {
 font-weight: bold;
 font-size: 14px;
 line-height: 26px;
 background-color: var(--basic-white-smoke);
}



.appointment label {
 font-weight: bold;
 font-size: 14px;
 line-height: 26px;
 background-color: var(--basic-white);
}

.arrival, 
.departure {
 width: 346px;
 height: 38px;
}

.arrival {
    background-image: url("/img/calendar.svg");
}

.adults, 
.childs {
 width: 114px;
 height: 38px;
}

.look-for {
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
 text-align: center;
 color: var(--basic-white);
 vertical-align: middle;
 text-transform: uppercase;
 background-color: var(--basic-seagull);
 border: none;
 width: 458px;
 height: 58px;
}

/* catalog */
.hotels-list {

}
background-color: var(--basic-white);
.hotels-list h3 {
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
 color: var(--basic-black);
}

.hotels-list span {
 font-weight: 400;
 font-size: 14px;
 line-height: 21px;
 color: var(--basic-black);
}

.details {
 font-weight: 400;
 font-size: 14px;
 line-height: 21px;
 color: var(--basic-white);
 background-color: var(--basic-seagull);
 width: 110px;
 height: 27px;
}

.reserved {
 font-weight: 400;
 font-size: 14px;
 line-height: 21px;
 color: var(--basic-white);
 background-color: var(--basic-roman-coffee);
 width: 142px;
 height: 27px;
}

.rating {
 font-weight: 400;
 font-size: 14px;
 line-height: 21px;
 color: var(--basic-dim-gray);
 background-color: var(--basic-white-smoke);
 width: 110px;
 height: 27px;
}

.four-stars {
 background-image: url("/img/star.svg");
 background-image: url("/img/star.svg");
 background-image: url("/img/star.svg");
 background-image: url("/img/star.svg");
}