/* Variables */

:root {
  --basic-grey:#888888;
  --basic-night-rider:#333333;
  --basic-black:#000000;
  --basic-white:#FFFFFF;
  --basic-seagull:#81B3D2;
  --basic-light-gray:#EEEEEE;
  --basic-dark-gray:#A9A9A9;
  --basic-white-smoke:#F2F2F2;
  --basic-roman-coffee:#766357;
  --basic-whisper:#E5E5E5;
  --basic-dim-gray:#666666;
  --basic-shakespeare:#669EC0;
  --basic-dark-shakespeare:#5496BD;
  --basic-saddle:#604E43;
  --basic-paco:#503E33;
  --basic-whisper: #EBEBEB;
  --basic-basic-black-30: rgba(0, 0, 0, 0.3);
  --basic-white-90: rgba(255, 255, 255, 0.9);
  --basic-hex-gray: #ABABAB;
  --very-light-grey: #CFCFCF;
  --basic-color-maverick: #BDBBBC; 
}

/* Global */

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white-smoke);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

header, footer, main {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  background-color: var(--basic-white);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 2px;
}

.main-navigation-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: var(--basic-white);
}

.site-navigation {
  width: 100%;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation li {
  text-align: center;
  padding: 0 72px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
  margin-left: -10px;
}

.site-navigation li:nth-child(3) {
  padding-right: 76px;
}

/* Logo */

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  z-index: 1;
}

/* User navigation */

.site-navigation .link {
  font-weight: bold;
  color: var(--basic-black);
}

.background-images {
  width: 100%;
  height: 509px;
  background-image: url(../img/background.jpg);
  background-size:  100%;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-images::after {
  content: '';
  width: 100%;
  height: 57px;
  background-image: url(../img/shape.png);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.welcome {
  margin-top: -3px;
}

.advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 216px;
  padding-top: 41px;
  padding-bottom: 51;
}

.advantages p {
  font-weight: bold;
  font-size: 21px;
  margin-top: 1px;
}

.advantages span {
  margin-top: 22px;
  position: relative;
  left: -3px;
}

.advantages-list li:nth-child(2) h3 {
  position: relative;
  top: 4px;
}

.advantages-list li:nth-child(2) span {
  position: relative;
  top: 3px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  list-style:none;
}

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.advantages-description {
  width: 400px;
  padding: 47px 45px 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.advantages-row {
  display: grid;
}

.accented-advantage:nth-child(1) .advantages-row {
  grid-template-columns: 1fr 2fr;
}

.accented-advantage:nth-child(2) .advantages-row {
  grid-template-columns: 2fr 1fr;
}

.base-advantage h3 {
  margin: 0;
}

.advantages-description h3 {
  margin-top: -2px;
}

.advantage-number {
  margin: 7px 0 24px 0;
}

.recomendations {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 62px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  list-style: none;
  padding: 0 65px 0 73px;
  padding-bottom: 5px;
}

.recomendations-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 82px;
  text-align: center;
}

.recomendations li:first-child {
  margin-left: -60px;
  margin-top: -5px;
}
 
.recomendations li:first-child h3 {
  position: relative;
  bottom: -5px;
}

.recomendations li:first-child span {
  position: relative;
  bottom: -10px;
}

.recomendations li:nth-child(2) img {
  position: relative;
  bottom: 5px;
  right: 5px;
}

.recomendations li:nth-child(2) h3 {
  position: relative;
  top: 3px;
  right: 5px;
}

.recomendations li:nth-child(2) span {
  position: relative;
  top: 7px;
  right: 4px;
}

.recomendations li:last-child img {
  position: relative;
  bottom: 5px;
  left: 20px;
}

.recomendations li:last-child h3 {
  position: relative;
  left: 21px;
}

.recomendations li:last-child span {
  position: relative;
  left: 21px;
  top: 5px;
}

.base-advantage {
  width: 400px;
  padding: 0 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 54px;
  background-color: var(--basic-light-gray);
}

.base-advantage h3 {
  padding: 0 45px;
}

.advantages-list li:nth-child(4) {
  padding: 0 65px;
}

.advantages-list li:nth-child(4) :first-child {
  padding: 0 50px;
  position: relative;
  bottom: 5px;
}

.advantages-list li:nth-child(4) :nth-child(2) {
  position: relative;
  bottom: 5px;
}

.advantages-list li:nth-child(4) :last-child {
  position: relative;
  left: 0;
  bottom: 5px;
}

.base-advantage :nth-child(2) {
  padding-top: 20px;
}

.advantages-list li:nth-child(4) :last-child {
  position: relative;
  right: 20px;
}

.advantages-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.advantages-list span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.accented-advantage {
  color: var(--basic-white);
  background-color: var(--basic-seagull);
}

.hotel-search {
  padding-top: 56px;
  text-align: center;
}

.hotel-search-link {
  padding: 30px 137px;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-roman-coffee);
  font-size: 21px;
  line-height: 86px;
  font-weight: bold;
}

.hotel-search span {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.choose-date {
  line-height: 24px;
  margin: 25px auto 45px;
}

.map img {
  width: 100%;
}

/* main footer */

.footer {
  margin-top: 0;
  background-color: var(--basic-white-90);
  position: relative;
}

.main-footer {
  margin: 0;
  width: 225px;
}

.social {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 5px;
  width: 150px;
  margin: 0 auto;
  padding: 10px 0 0 0;
  list-style: none;
}

.website-by {
  display: flex;
  align-items: center;
  position: relative;
  top: 6px;
  width: 400px;
  margin: 0;
  text-align: center;
  line-height: 26px;
  padding-left: 65px;
  padding-top: 10px;
}

svg:hover .svg-htmlacademy {
  fill: var(--basic-seagull);
}

svg:active .svg-htmlacademy {
  fill: var(--basic-color-maverick);
}

.developers {
  padding-left: 8px;
}

.hashtag {
  padding-left: 22px;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.phone-number {
  position: relative;
  top: 1px;
  left: 2px;
  padding-left: 7px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.social a {
  background-color: var(--basic-seagull);
}

/* Modal */

.appointment {
  position: absolute;
  z-index: 1;
  left: calc(50% - 568px / 2);
  padding: 40px 55px 55px;
  display: flex;
  flex-wrap: wrap;
  width: 568px;
  background-color: var(--basic-white);
  animation: expandDown 0.5s;
  transform-origin: top center;
}

.modal {
  position: relative;
}

.modal-hide {
  display: none;
}

@keyframes expandDown {
  0% {
  transform: scaleY(0);
  }

  100% {
  transform: scaleY(1);
  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
  }

.appointment input {
  font-weight: bold;
  line-height: 26px;
  background-color: var(--basic-white-smoke);
}

.appointment label {
  font-weight: bold;
  line-height: 26px;
  background-color: var(--basic-white);
}

.appointment p {
  display: flex;
  justify-content: space-between;
}

.numbers1,
.numbers2 {
  margin-top: 16px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.numbers1{
  position: relative;
}

.numbers2{
  position: relative;
  left: 40px;
}

.arrival {
  padding-left: 15px;
  margin-left: 23px;
  width: 346px;
  height: 38px;
  border: none;
  text-transform: uppercase;
}

.departure {
  padding-left: 14px;
  margin-left: 20px;
  width: 346px;
  height: 38px;
  border: none;
  text-transform: uppercase;
}

.adults {
  text-align: center;
  margin-left: 40px;
  margin-right: 15px;
  width: 114px;
  height: 38px;
  border: none;
}

.childs {
  text-align: center;
  margin-left: 25px;
  margin-right: 0;
  width: 114px;
  height: 38px;
  border: none;
}

.look-for-button {
  width: 458px;
  height: 58px;
  margin-top: 43px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-seagull);
  border: none;
}

.numbers1 {
  position: relative;
}

.button-minus1 {
  border: none;
  background: none;
  position: absolute;
  left: 118px;
  top: 8px;
}

.button-plus1 {
  border: none;
  background: none;
  position: absolute;
  right: 22px;
  top: 12px;
}

svg:hover .svg-minus {
  fill: var(--basic-black);
}

svg:active .svg-minus {
  fill: var(--basic-seagull);
}

svg:hover .svg-plus {
  fill: var(--basic-black);
}

svg:active .svg-plus {
  fill: var(--basic-seagull);
}

.numbers2 {
  position: relative;
}

.button-minus2 {
  border: none;
  background: none;
  position: absolute;
  left: 72px;
  top: 8px;
}

.button-plus2 {
  border: none;
  background: none;
  position: absolute;
  right: 5px;
  top: 11px;
}

/* Filters */

.hotels-filter {
  background-image: url(../img/background2.png);
  color: var(--basic-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.filter-form {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 31px;
  padding-right: 73px;
  display: grid;
  grid-template-columns: 326px auto 400px;
  min-height: 217px;
}

.hotels-filter fieldset {
  border: none;
}

.hotels-filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.hotels-filter button {
  color: var(--basic-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.infrastructure {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 71px;
  margin-right: 0;
  width: 150px;
  padding: 0;
}

.infrastructure div:nth-child(2) {
  position: absolute;
  bottom: 93px;
}

.infrastructure div:nth-child(3) {
  position: absolute;
  bottom: 47px;
}

.infrastructure div:last-child {
  position: absolute;
  bottom: 2px;
}

.hotel-type {
  position: relative;
  display: flex;
  margin-left: 0;
  width: 150px;
  padding: 0;
}

.hotel-type div:nth-child(2) {
  position: absolute;
  bottom: 93px;
}

.hotel-type div:nth-child(3) {
  position: absolute;
  bottom: 47px;
}

.hotel-type div:last-child {
  position: absolute;
  bottom: 2px;
}

.filter-item {
  position: relative;
  right: -73px;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 317px;
  border-color: var(--basic-white);
  color: var(--basic-white);
  background-color: transparent;
  text-align: center;
}

.filter-item legend {
  text-align: left;
}

.filter-item button {
  margin-right: 5px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  height: 36px;
  margin-top: 10px;
  border: 2px solid var(--basic-white);
}

.price-controls input {
  text-align: center;
  background-color: transparent;
  color: var(--basic-white);
  text-transform: uppercase;
  width: 157px;
}

.price-controls :first-child {
  border-right: hidden;
}

.price-controls:after {
  content: url("../img/vertical-line.svg");
  position: absolute;
  width: 2px;
  height: 22px;
  bottom: 99px;
  right: 158px;
}

.price-controls :nth-child(3) {
  border-left: hidden;
}

.range-controls {
  position: relative;
  height: 33px;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
}

.range-controls .scale {
  height: 2px;
}

.range-controls .bar {
  position: relative;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 19px;
  height: 21px;
  padding: 0;
  background-image: url("../img/toggle.svg");
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
  top: 12px;
}

.range-controls .toggle-max {
  left: 160px;
  top: 12px;
}

.range-controls .toggle-min:hover,
.range-controls .toggle-max:hover {
  width: 23px;
  height: 24px;
  background-image: url("../img/big-toggle.svg");
}

.btn {
  position: absolute;
  right: 92px;
  bottom: 0;
  height: 36px;
  width: 137px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  border-radius: 2px;
}

.btn:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

/* check */

.check label {
  position: relative;
  left: 40px;
  display: block;
  cursor: pointer;
  user-select: none;
}

.check-input-checkbox:hover + label,
.check-input-checkbox:focus + label {
  color: var(--basic-seagull);
}

.check-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23"%3E%3Cpath fill="%23FFFFFF" d="M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z"/%3E%3C/svg%3E');
  z-index: 1;
}

.check-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -36px;
  width: 23px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='18' viewBox='0 0 23 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.28505 6.48601L0.456055 9.31501L8.23905 17.098L22.1711 3.16601L19.3431 0.337006L8.23905 11.439L3.28505 6.48601Z' fill='white'/%3E%3C/svg%3E");
  z-index: 2;
}

/* сортировка */

.sort-by {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 69px;
  display: grid;
  grid-template-columns: 208px auto 200px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  list-style: none;
}

.sort-by span {
  display: inline-block;
  vertical-align: top;
  margin-left: 72px;
  margin-top: -1px;
  width: 135px;
  padding-right: 0;
  margin-right: 0;
}  

.sort-attribute {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 1px;
  margin-bottom: 0;
  margin-left: 27px;
  padding: 0;
}

.sort-direction {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 4px;
}

.sort-by p {
  padding-left: 0;
}

.price {
  padding-left: 40px;
}

.type {
  margin-left: 32px;
}

.rate {
  margin-left: 33px;
}

.btn-sort,
.sort-attribute {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-white);
  cursor: pointer;
}

.sort-by span {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.price {
  color: var(--basic-seagull);
}

.type,
.rate {
color: var(--basic-basic-black-30);
border-bottom: 1px dotted;
border-color: var(--basic-seagull);
}

/* catalog */

.hotels-list-item {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 73px;
  display: grid;
  grid-template-columns: 208px auto 200px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  list-style: none;
}

.hotel-image {
  display: flex;
  width: 135px;
  height: 90px;
  margin-left: 73px;
  margin-right: 0;
}

.hotel-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 0;
  margin-left: 29px;
  width: 300px;
  height: 90px;
}

.hotel-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 0;
  margin-left: 29px;
  width: 260px;
  height: 90px;
}



.hotels-list .link {
  display: block;
  margin: 0;
  align-items: flex-start;
}

.hotels-name {
  margin: 0;
  position: relative;
  bottom: 5px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.element1 {  
  position: relative;
  bottom: 1px;
  right: 1px;
  width: 110px;
  margin-right: 6px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.element2 {  
  position: relative;
  bottom: 1px;
  right: 1px;
  width: 142px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.details {
  width: 110px;
  margin-right: 6px;
}

.reserved {
  width: 142px;
}

.hotel-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 90px;
  width: 110px;
}

.star {
  padding-left: 5px;
}

.rating {
  align-self: flex-end;
}

.details {
  position: relative;
  top: 2px;
  right: 2px;
  padding: 3px 17px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-seagull);
}

.reserved {
  position: relative;
  top: 2px;
  right: 2px;
  padding: 3px 17px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-roman-coffee);
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.hotels-list-item {
  margin-bottom: -1px;
  border-top: 1px solid var(--basic-whisper);
  border-bottom: 1px solid var(--basic-whisper);
}

.hotels-list .link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotels-list span {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-black);
}

.rating {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-dim-gray);
  background-color: var(--basic-white-smoke);
  width: 110px;
  height: 27px;
}

.social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: inherit;
  background-color: var(--basic-seagull);
}

.rating {
  padding: 3px 12px 3px 15px;
}

/*active-hover */

.details:hover,
.look-for-button:hover,
.social-network-link:hover {
  background-color: var(--basic-shakespeare);
}

.details:active,
.look-for-button:active,
.social-network-link:active {
  background-color: var(--basic-dark-shakespeare);
}

.reserved:hover,
.hotel-search-link:hover {
  background-color: var(--basic-saddle);
}

.reserved:active,
.hotel-search-link:active {
  background-color: var(--basic-paco);
}

.site-navigation .link:hover,
.hotels-list .link:hover {
  color: var(--basic-seagull);
}

.site-navigation .link:focus,
.hotels-list .link:focus {
  color: var(--basic-roman-coffee);
}

.site-navigation .link:active,
.hotels-list .link:active {
  color:var(--basic-black-30);
}

.arrival:hover,
.departure:hover,
.adults:hover,
.childs:hover {
  background-color: var(--basic-whisper);
}

.arrival:focus,
.departure:focus,
.adults:focus,
.childs:focus {
  background-color: var(--basic-white);
}

.price:hover,
.rate:hover,
.type:hover {
  color: var(--basic-seagull)
}

.price:active,
.rate:active,
.type:active {
  color: var(--basic-black)
}

.btn-down {
  background-color: var(--basic-white);
  border:none;
}

.btn-up {
  background-color: var(--basic-white);
  border:none;
}

.svg-up {
  fill: var(--basic-seagull);
}

svg:hover .svg-up {
  fill: var(--basic-black);
}

svg:hover .svg-down {
  fill: var(--basic-black);
}

svg:active .svg-up {
  fill: var(--basic-seagull);
}

svg:active .svg-down {
  fill: var(--basic-seagull);
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 22px 0 42px;
  width: 100%;
  background-color: var(--basic-white-90);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.main-footer.without-map {
  position: relative;
  background-color: var(--basic-white);
}

.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2px;
  text-align: center;
  padding-left: 50px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.date {
  position: relative;
  display: flex;
  align-items: center;
}

.calendar {
  border: none;
  background: none;
  position: absolute;
  right: 2px;
}

svg:hover .svg-calendar {
  fill: var(--basic-black);
}

svg:active .svg-calendar {
  fill: var(--basic-seagull);
}