/* Variables */

:root {
  --basic-grey:#888888;
  --basic-night-rider:#333333;
  --basic-black:#000000;
  --basic-white:#FFFFFF;
  --basic-seagull:#81B3D2;
  --basic-light-gray:#EEEEEE;
  --basic-dark-gray:#A9A9A9;
  --basic-white-smoke:#F2F2F2;
  --basic-roman-coffee:#766357;
  --basic-whisper:#E5E5E5;
  --basic-dim-gray:#666666;
  --basic-shakespeare:#669EC0;
  --basic-dark-shakespeare:#5496BD;
  --basic-saddle:#604E43;
  --basic-paco:#503E33;
  --basic-whisper: #EBEBEB;
  --basic-basic-black-30: rgba(0, 0, 0, 0.3);
  --basic-white-90: rgba(255, 255, 255, 0.9);
  --basic-hex-gray: #ABABAB;
  --very-light-grey: #CFCFCF;
}

/* Global */

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white-smoke);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

header, footer, main {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  background-color: var(--basic-white);
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

/* Main navigation */

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-navigation-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: var(--basic-white);
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation {
  width: 100%;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.site-navigation li {
  text-align: center;
  padding: 0 72px;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

/* Logo */

.main-header-logo {
  width: 138px;
  height: 70px;
  position: absolute;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  z-index: 1;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* User navigation */

.site-navigation .link {
  font-weight: bold;
  color: var(--basic-black);
}

.background-images {
  width: 100%;
  height: 509px;
  background-image: url(../img/background.jpg);
  background-size:  100%;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-images::after {
  content: '';
  width: 100%;
  height: 57px;
  background-image: url(../img/shape.png);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 216px;
  padding-top: 41px;
  padding-bottom: 51;
}

.advantages p {
  font-weight: bold;
  font-size: 21px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  list-style:none;
}

.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.advantages-description {
  width: 400px;
  padding: 47px 52px 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.advantages-row {
  display: grid;
}

.accented-advantage:nth-child(1) .advantages-row {
  grid-template-columns: 1fr 2fr;
}

.accented-advantage:nth-child(2) .advantages-row {
  grid-template-columns: 2fr 1fr;
}

.advantages-description h3, .base-advantage h3 {
  margin: 0;
}

.advantage-number {
  margin: 25px 0;
}

.recomendations {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 62px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  list-style: none;
  padding: 0 65px 0 73px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.recomendations-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 82px;
  text-align: center;
}

.base-advantage {
  width: 400px;
  padding: 0 84px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 54px;
  background-color: var(--basic-light-gray);
}

.advantages-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.advantages-list span {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.accented-advantage {
  color: var(--basic-white);
  background-color: var(--basic-seagull);
}

.hotel-search {
  padding-top: 58px;
  text-align: center;
}

.hotel-search-link {
  padding: 30px 137px;
  vertical-align: middle;
  color: var(--basic-white);
  background-color: var(--basic-roman-coffee);
  font-size: 21px;
  line-height: 86px;
  font-weight: bold;
}

.hotel-search span {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.choose-date {
  line-height: 24px;
  margin: 40px auto 50px;
}

.map img {
  width: 100%;
}

/* Filters */

.hotels-filter {
  height: 217px;
  background-image: url(../img/background2.png);
  color: var(--basic-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

.hotels-filter fieldset {
  border: none;
}

.hotels-filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.hotels-filter button {
  color: var(--basic-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.filter-form {
  display: flex;
  min-height: 217px;
  padding-top: 26px;
  padding-bottom: 31px;
}

.infrastructure,
.hotel-type {
  display: flex;
  margin-left: 72px;
  width: 150px;
  padding: 0;
  outline: 5px solid rgb(165, 42, 128);
  outline-offset: -5px;
}

.real-checkbox {
  display: none;
}

.filters-item-checked {
  padding-left: 50px;
  position: relative;
}

.filters-item {
  padding-left: 50px;
  position: relative;
}

.filters-item-checked::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-item::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}






.filter-item {
  position: relative;
  left: 300px;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  width: 317px;
  border-color: var(--basic-white);
  color: var(--basic-white);
  background-color: transparent;
  text-align: center;
  outline: 5px solid orangered;
  outline-offset: -5px;
}

.price-controls {
  display: flex;
  justify-content: center;
  width: 317px;
  height: 36px;
  margin-top: 10px;
  background-color: transparent;
  outline: 5px solid purple;
  outline-offset: -5px;
}

.price-controls input {
  text-align: center;
}

.range-controls {
  position: relative;
  height: 33px;
  padding-top: 20px;
  padding-right: 0px;
  padding-left: 0px;
  outline: 5px solid greenyellow;
  outline-offset: -5px;
}

.range-controls .scale {
  height: 2px;
}

.range-controls .bar {
  position: relative;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-hex-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--very-light-grey);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
  top: 13px;
}

.range-controls .toggle-max {
  left: 160px;
  top: 13px;
}

.btn {
  position: absolute;
  right: 95px;
  bottom: 0;
  height: 36px;
  width: 137px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  text-transform: uppercase;
  background-color: transparent;
}

/* сортировка */

.sort-by {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 73px;
  padding-left: 73px;
  display: grid;
  align-items: baseline;
  grid-template-columns: 208px auto 200px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  list-style: none;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.sort-by span {
  display: inline-block;
  width: 117px;
  padding-right: 0;
  margin-right: 0;
  outline: 5px solid var(--basic-dark-shakespeare);
  outline-offset: -5px;
}  

.sort-attribute {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  outline: 5px solid goldenrod;
  outline-offset: -5px;
}

.sort-direction {
  display: flex;
  justify-content: flex-end;
  padding-right: 73px;
  outline: 5px solid red;
  outline-offset: -5px;
}

.sort-by p {
  padding-left: 46px;
}

.price {
  padding-left: 40px;
}
.type {
  padding-left: 32px;
}

.rate {
  padding-left: 33px;
}

.btn-sort,
.sort-attribute {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: var(--basic-white);
}

.sort-by span {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.price {
  color: var(--basic-seagull);
}

.type,
.rate {
color: var(--basic-basic-black-30);
border-bottom: 1px dotted;
border-color: var(--basic-seagull);
}

/* main footer */

.footer {
  margin-top: 0;
  background-color: var(--basic-white-90);
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
  position: relative;
}

.main-footer {
  margin: 0;
  width: 225px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

/* .social {
  width: 155px;
  justify-self: center;
  text-align: center;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
} */

.social {
  display: flex;
  justify-content: space-around;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.website-by {
  max-width: 225px;
  margin: 0;
  /* justify-self: end; */
  text-align: center;
  line-height: 26px;
  outline: 5px solid rgba(255, 0, 255, 0.7);
  outline-offset: -5px;
}

.hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.phone-number {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.social a {
  background-color: var(--basic-seagull);
}

/* Modal */

.appointment {
  position: absolute;
  z-index: 1;
  left: calc(50% - 568px / 2);
  padding: 55px;
  display: flex;
  flex-wrap: wrap;
  width: 568px;
  background-color: var(--basic-white);
}

.appointment.hidden {
  display: none;
}

.appointment input {
  font-weight: bold;
  line-height: 26px;
  background-color: var(--basic-white-smoke);
}

.appointment label {
  font-weight: bold;
  line-height: 26px;
  background-color: var(--basic-white);
  /* margin-right: 25px; */
}

.appointment p {
  display: flex;
  justify-content: space-between;
  outline: 5px solid purple;
  outline-offset: -5px;
}

.appointment {
outline: 5px solid orange;
outline-offset: -5px;
}

.numbers1{
  position: relative;
}

.numbers2{
  position: relative;
  left: 40px;
}

.arrival,
.departure {
  padding-left: 13px;
  margin-left: 20px;
  width: 346px;
  height: 38px;
}

.adults,
.childs {
  text-align: center;
  margin-left: 40px;
  width: 114px;
  height: 38px;
}

.look-for-button {
  width: 458px;
  height: 58px;
  margin-top: 54px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-seagull);
  border: none;
}

.numbers1 {
  position: relative;
}

.button-minus1 {
  border: none;
  background: none;
  position: absolute;
  left: 115px;
  top: 7px;
}

.button-plus1 {
  border: none;
  background: none;
  position: absolute;
  right: 5px;
  top: 10px;
}

.numbers2 {
  position: relative;
}

.button-minus2 {
  border: none;
  background: none;
  position: absolute;
  left: 80px;
  top: 7px;
}

.button-plus2 {
  border: none;
  background: none;
  position: absolute;
  right: 5px;
  top: 10px;
}

/* catalog */

.hotels-list-item {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 73px;
  padding-left: 73;
  display: grid;
  grid-template-columns: 208px auto 200px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  list-style: none;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.hotel-info {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.element1 {
  width: 110px;
  margin-right: 6px;
  margin-top: 7px;
  margin-bottom: 15px;
}

.element2 {
  width: 142px;
  margin-top: 7px;
  margin-bottom: 15px;
}

.details {
  width: 110px;
  margin-right: 6px;
}

.reserved {
  width: 142px;
}

.hotel-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: space-between;
  width: 110px;
  text-align: end;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.details {
  padding: 3px 17px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-seagull);
}

.reserved {
  padding: 3px 17px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  background-color: var(--basic-roman-coffee);
}

.hotel-image {
  display: flex;
  width: 135px;
  height: 90px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}

.hotels-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.hotels-list-item {
  margin-bottom: -1px;
  border-top: 1px solid var(--basic-whisper);
  border-bottom: 1px solid var(--basic-whisper);
}

.hotels-list .link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.hotels-list span {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-black);
}

.rating {
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-dim-gray);
  background-color: var(--basic-white-smoke);
  width: 110px;
  height: 27px;
}

.social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: inherit;
  background-color: var(--basic-seagull);
}

.rating {
padding: 3px 12px 3px 15px;
}

/*active-hover */

.details:hover,
.look-for-button:hover,
.social-network-link:hover {
  background-color: var(--basic-shakespeare);
}

.details:active,
.look-for-button:active,
.social-network-link:active {
  background-color: var(--basic-dark-shakespeare);
}

.reserved:hover,
.hotel-search-link:hover {
  background-color: var(--basic-saddle);
}

.reserved:active,
.hotel-search-link:active {
  background-color: var(--basic-paco);
}

.site-navigation .link:hover,
.hotels-list .link:hover {
  color: var(--basic-seagull);
}

.site-navigation .link:focus,
.hotels-list .link:focus {
  color: var(--basic-roman-coffee);
}

.site-navigation .link:active,
.hotels-list .link:active {
  color:var(--basic-black-30);
}

.button-minus:hover,
.button-plus:hover {

}

.button-minus:active,
.button-plus:active {

}

.developers:hover {

}

.developers:active {

}

.arrival:hover,
.departure:hover,
.adults:hover,
.childs:hover {
  background-color: var(--basic-whisper);
}

.arrival:focus,
.departure:focus,
.adults:focus,
.childs:focus {
  background-color: var(--basic-white);
}

.price:hover,
.rate:hover,
.type:hover {
color: var(--basic-seagull)
}

.price:active,
.rate:active,
.type:active {
color: var(--basic-black)
}

.btn-up:hover,
.btn-down:hover {
}

.btn-up:active,
.btn-down:active {
}

.main-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 23px 0;
  display: flex;
  width: 100%;
  background-color: var(--basic-white-90);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.main-footer.without-map {
  position: relative;
  background-color: var(--basic-white);
}

.contacts {
  display: flex;
  flex-direction: column;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.date {
  position: relative;
  display: flex;
  align-items: center;
}

.calendar {
  border: none;
  background: none;
  position: absolute;
  right: 9px;
}

.calendar:hover {

}

.calendar:active {

}

